.word-cloud-generator {
  border: 2px solid red;
  margin: 2% auto;
  width: 90vw;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.input-part {
  flex: 1;
  width: 45%;
  /* align-items: center; */
}

textarea {
  resize: vertical;
  width: 90%;
  height: 200px;
  font-family: inherit;
  padding: 10px;
  font-size: 1rem;
}

.btn-container {
  width: 80%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
  gap: 3rem;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: black;
  font-family: inherit;
  color: #fff;
  /* background-color: inherit; */
}

/* Implement something like a landing page and direction on how to use it */
/* FIXME: Get a nice color pallete */

.word-cloud {
  /* border: 2px solid chartreuse; */
  width: 55%;
  height: 100%;
  position: relative;
}

/* MEDIA QUERY FOR MOBILE SCREEN MAX WIDTH =  */
@media screen and (max-width: 1024px) {
  .word-cloud-generator {
    flex-direction: column;
    width: 80vw;
  }

  .input-part,
  .word-cloud {
    width: 90vw;
  }

  .input-part {
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .word-cloud-generator {
    width: 80vw;
  }
}
